pandas
mlflow
notebook
numpy
scikit-learn
matplotlib
python-box  # for custom exception
pyYAML
tqdm
ensure  # 
joblib  # for modal save modle in serialize format
types-pyYAML
flask
flask-Cors
dagshub
